.sectionContainer {
    display: flex;
    flex-direction: column;
    padding-inline: 3vw;
    min-height: 35vh;
    height: 35vh;
    max-height: 35vh;
    margin-block-end: 2vh;
}

.sectionContainer > div:first-child {
    padding-block: 0.8em;
    min-height: 10%;
}

.sectionContainer::-webkit-scrollbar {
    display: none;
}

.sectionContainer > div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid red;
    padding-inline: 4vw;
    min-height: 70%;
    height: 70%;
    max-height: 70%;
    overflow-x: auto;
}