.sectionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    padding-inline: 2vw;
    min-height: 25vh;
    border: 1px solid red;
}

.sectionContainer::-webkit-scrollbar {
    display: none;
}