.sectionContainer {
    display: flex;
    flex-direction: column;
    padding-inline: 2vw;
    min-height: 28vh;
}

.sectionContainer > div:first-child {
    padding: 1em
}

.sectionContainer::-webkit-scrollbar {
    display: none;
}